/* Reset CSS */
* {
    box-sizing: border-box;
    margin: 0;
}

body {
    font-family: 'Noto Sans KR', sans-serif;
}

a {
    color: dodgerblue;
}

img {
    max-width: 90%;
    height: auto;
    border-radius: 10px;
}

strong {
    font-weight: 400;
}



/* Header */
.header {
    max-width: 630px;
    margin: 0 auto;
    padding: 0 1rem;
}

.header-title {
    margin: 25px 0;
    font-size: 35px;
    line-height: 1.1;
    letter-spacing: -0.01em;
}
.header-teamname {
    display: block;
    margin: 15px 0;
}

.header-content {
    margin: 15px 0;
    font-weight: 500;
}

/* Scroll Section */

.scroll-section{
    border: 1px solid rgba(0,0,0,0);
}

.scroll-graphic {
    overflow-x: hidden;
    position: sticky;
    top: 0;
    height: 100vh;
}

.graphic-item {
    
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: 0.5s;
    will-change: opacity;
}

.visible {
    opacity: 1;
}

.scene {
    max-height: 95vh;
}

.four-images {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.four-section {
    display: flex;
    align-items: center;
    justify-content: center;
}

.four-scene {
    padding: 5px;
    max-width: 50%;
    max-height: 45vh;
}

.fire-images {
    position: relative;
    width: 100%;
    height: 100vh;
}

.fire-scene {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    opacity: 0;

}

.fire-images img {
    display: block;
    max-width: 100%;
    max-height: 100vh;
}

.scroll-text {
    position: relative;
    max-width: 500px;
    margin: 0 auto;
}

.text-item {
    margin-bottom: 60vh;
    padding: 1em;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.7);
    box-shadow: rgba(0,0,0,0.3) 0 0 3px;
}

.line-through {
    text-decoration: line-through;
}


/* Normal Section */
.normal-section {
    max-width: 630px;
    margin: 20px auto;
    padding: 1rem;
}

.normal-item {
    margin: 70px 0;
}

.normal-item h2{
    margin-bottom: 20px;
}

.normal-link {
    color: gray;
    text-decoration: none;
}

.normal-item img{
    display: block;
    margin: 10px auto;
}


.maker {
    margin: 20px 0;
    padding: 30px 0;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

/* Footer */
footer {
    padding: 40px 0;
    background-color: gray;
}

.footer-content {
    margin: 0 50px;
}

.footer-title {
    color: white;
    margin-bottom: 20px;
}

.footer-link {
    display: flex;
    justify-content: space-between;
}

.footer-link-item {
    width: 100%;
    padding-right:30px;
    margin-right: 10px;
    border-right: 1px solid white;
    color: white;
    font-weight: 400;
    text-decoration: none;
}
